In [2]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
gem = pd.DataFrame(technologies)
print(gem)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

# str.lower()

In [3]:
# convert lowercase column use str.lower()
gem['Courses'] = gem['Courses'].str.lower()
print(gem)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [4]:
# convert lowercase column use apply()
gem['Courses'] = gem['Courses'].apply(str.lower)
print(gem)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [5]:
# Use apply() & lambda function
gem['Courses'].apply(lambda x: x.lower())
print(gem)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [11]:
# Convert pandas column to lowercase use map()
gem['Courses'] = gem['Courses'].map(str.lower)
print(gem)

   Courses    Fee Duration Discount
0    spark  22000   30DAYS     1000
1  pyspark  25000   50DAYS     2300
2   hadoop  24000   40DAYS     2500
3   pandas  26000   60DAYS     1400

# str.upper()

In [12]:
# convert uppercase column use str.upper()
gem['Duration'] = gem['Duration'].str.upper()
print(gem)

   Courses    Fee Duration Discount
0    spark  22000   30DAYS     1000
1  pyspark  25000   50DAYS     2300
2   hadoop  24000   40DAYS     2500
3   pandas  26000   60DAYS     1400

In [13]:
# convert uppercase column use apply()
gem['Duration'] = gem['Duration'].apply(str.upper)
print(gem)

   Courses    Fee Duration Discount
0    spark  22000   30DAYS     1000
1  pyspark  25000   50DAYS     2300
2   hadoop  24000   40DAYS     2500
3   pandas  26000   60DAYS     1400

In [14]:
# Use apply() & lambda function
gem['Duration'].apply(lambda x: x.upper())
print(gem)

   Courses    Fee Duration Discount
0    spark  22000   30DAYS     1000
1  pyspark  25000   50DAYS     2300
2   hadoop  24000   40DAYS     2500
3   pandas  26000   60DAYS     1400

In [16]:
# Convert pandas column to uppercase use map()
gem['Duration'] = gem['Duration'].map(str.upper)
print(gem)

   Courses    Fee Duration Discount
0    spark  22000   30DAYS     1000
1  pyspark  25000   50DAYS     2300
2   hadoop  24000   40DAYS     2500
3   pandas  26000   60DAYS     1400

# str.length()

In [17]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

In [18]:
data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

# str.strip()

In [19]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

# str.split()

In [20]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()

0                         [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.php]
2                                              NaN
dtype: object

# str.contains()

In [22]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.contains('d')

0    False
1     True
2      NaN
dtype: object

# str.replace()

In [23]:
s.str.replace('m','y')

0                             this is yy new pen
1    https://www.w3resource.coy/pandas/index.php
2                                            NaN
dtype: object

# str.startswith()

In [24]:
s.str.startswith('thi')

0     True
1    False
2      NaN
dtype: object

# str.endswith()

In [25]:
s.str.endswith('hp')

0    False
1     True
2      NaN
dtype: object

# str.cat()

In [27]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
gem = pd.DataFrame(technologies)
print(gem)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [32]:
gem['concatenated']=gem['Courses'].str.cat(gem['Duration'], sep='-')
print(gem)

   Courses    Fee Duration Discount    concatenated
0    SPARK  22000   30days     1000    SPARK-30days
1  PYSPARK  25000   50days     2300  PYSPARK-50days
2   HADOOP  24000   40days     2500   HADOOP-40days
3   PANDAS  26000   60days     1400   PANDAS-60days

In [33]:
gem['Courses'].str.cat(gem['Duration'], sep='-')

0      SPARK-30days
1    PYSPARK-50days
2     HADOOP-40days
3     PANDAS-60days
Name: Courses, dtype: object

# str.get()

In [34]:
gem['Courses'].str.get(2)

0    A
1    S
2    D
3    N
Name: Courses, dtype: object

# str.slice()

In [35]:
gem['Courses'].str.slice(1, 4)

0    PAR
1    YSP
2    ADO
3    AND
Name: Courses, dtype: object

In [36]:
gem['Courses'].str.slice(2)

0      ARK
1    SPARK
2     DOOP
3     NDAS
Name: Courses, dtype: object

# str.find()

In [38]:
gem['Courses'].str.find('AR')

0    2
1    4
2   -1
3   -1
Name: Courses, dtype: int64